<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.github.doscene.calf.mapper.SysUserMapper">
    <insert id="insertOne" parameterType="com.github.doscene.calf.common.entity.SysUser">
        <selectKey keyProperty="pid" resultType="java.lang.String" order="BEFORE">
            <include refid="com.github.doscene.calf.mapper.BaseMapper.sys_user_pid_sequence" />
        </selectKey>
        insert into sys_user (pid, create_time, create_by, create_ip, expired_time,
        login_name, login_password, salt, true_name, email, phone, gender, age,
        birthday, head_portrait, last_login_time, last_login_ip,valuable)
        values(#{pid,jdbcType=VARCHAR},sysdate,#{createBy,jdbcType=VARCHAR},#{createIp,jdbcType=VARCHAR},#{expiredTime,jdbcType=TIMESTAMP},
        #{loginName,jdbcType=VARCHAR},#{loginPassword,jdbcType=VARCHAR},#{salt,jdbcType=VARCHAR},#{trueName,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},
        #{phone,jdbcType=VARCHAR},#{gender,jdbcType=VARCHAR},#{age,jdbcType=INTEGER},#{birthday,jdbcType=TIMESTAMP},#{headPortrait,jdbcType=VARCHAR},#{lastLoginTime,jdbcType=TIMESTAMP},
        #{lastLoginIp,jdbcType=VARCHAR},
        '1')
    </insert>
    <select id="selectByLoginName" resultType="com.github.doscene.calf.common.entity.SysUser">
        select pid,
               create_time,
               update_time,
               create_by,
               create_ip,
               valuable,
               expired_time,
               department,
               login_name,
               login_password,
               salt,
               true_name,
               email,
               phone,
               gender,
               age,
               birthday,
               head_portrait,
               last_login_time,
               last_login_ip
        from sys_user
        where valuable = '1'
          and login_name = #{loginName,jdbcType=VARCHAR}
    </select>
    <select id="selectBySysUser" resultType="com.github.doscene.calf.common.entity.SysUser">
        select pid,
        create_time,
        update_time,
        create_by,
        create_ip,
        valuable,
        expired_time,
        department,
        login_name,
        login_password,
        salt,
        true_name,
        email,
        phone,
        gender,
        age,
        birthday,
        head_portrait,
        last_login_time,
        last_login_ip
        from sys_user
        <where>
            <if test="1 == 1">
                valuable='1'
            </if>
            <if test="loginName != null and loginName != ''">
                and instr( login_name, #{loginName,jdbcType=VARCHAR})>0
            </if>
            <if test="phone !=null and phone != ''">
                and instr( phone, #{phone,jdbcType=VARCHAR})>0
            </if>
            <if test="trueName !=null and trueName != ''">
                and instr(true_name,#{trueName,jdbcType=VARCHAR})>0
            </if>
            <if test="email != null and email != ''">
                and instr(email,#{email,jdbcType=VARCHAR})
            </if>
        </where>

        order by create_time
    </select>
    <delete id="deleteSysUser">
        delete
        from sys_user
        where login_name = #{loginName,jdbcType=VARCHAR}
    </delete>
    <update id="editSysUser">
        update sys_user
        set update_time=sysdate
            <if test="trueName != null and trueName != ''">
                ,true_name=#{trueName,jdbcType=VARCHAR}
            </if>
            <if test="age != null and age != ''">
                ,age=#{trueName,jdbcType=VARCHAR}
            </if>
            <if test="email != null and email != ''">
                ,email=#{email,jdbcType=VARCHAR}
            </if>
            <if test="phone != null and phone != ''">
                ,phone=#{phone,jdbcType=VARCHAR}
            </if>
            <if test="gender != null and gender != ''">
                ,gender=#{gender,jdbcType=VARCHAR}
            </if>
            <if test="birthday != null">
                ,gender=#{birthday,jdbcType=TIMESTAMP}
            </if>
            <if test="expiredTime != null">
                ,expired_time=#{expiredTime,jdbcType=TIMESTAMP}
            </if>
            <if test="lastLoginIp != null and lastLoginIp !=''">
                ,last_login_ip=#{lastLoginIp,jdbcType=VARCHAR}
            </if>
            <if test="lastLoginTime != null">
                ,last_login_time=#{lastLoginTime,jdbcType=TIMESTAMP}
            </if>
            <if test="headPortrait != null and headPortrait !=''">
                ,head_portrait=#{headPortrait,jdbcType=TIMESTAMP}
            </if>
        where login_name = #{loginName,jdbcType=VARCHAR}
    </update>
</mapper>